{
  "$schema": "https://spec.openapis.org/oas/3.0/schema/2021-09-28",
  "openapi": "3.0.0",
  "info": {
    "title": "Digikala API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.digikala.com"
    }
  ],
  "components": {
    "schemas": {
      "A": {
        "$ref": "./v1/rate-review/products/get-req-params.json"
      }
    }
  },
  "paths": {
    "/v1/user/init/": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get everything",
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../schemas/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "./v1/user/init/get-res-200-data.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rate-review/products/{product_id}/submit/": {
      "post": {
        "summary": "Submit a comment",
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "product_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./v1/rate-review/products/submit/post-req-body.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submit a comment",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../schemas/response.json"
                    },
                    {
                      "description": "TODO"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/rate-review/products/{product_id}/": {
      "get": {
        "summary": "Get comments",
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "product_id",
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "required": true
          },
          {
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "newest"
              ]
            },
            "in": "query",
            "required": false
          },
          {
            "name": "page",
            "schema": {
              "type": "integer",
              "description": "Starts with 1"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "../schemas/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "./v1/rate-review/products/get-res-200-data.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
